<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="editModel" name="EMF Resource Edit Model" schema="schema/editModel.exsd"/>
   <extension-point id="editModelExtension" name="Edit Model Extensions" schema="schema/editModelExtension.exsd"/>
   <extension-point id="adapterFactory" name="Adapter Factory Extension" schema="schema/adapterFactory.exsd"/>
   <extension-point id="ModifierHelperFactory" name="ModifierHelperFactory" schema="schema/modifierHelperFactory.exsd"/>

   <extension
         point="org.eclipse.jem.util.internalWorkbenchContextFactory">
      <factoryClass
            name="org.eclipse.wst.common.internal.emfworkbench.edit.EMFWorkbenchEditContextFactory">
      </factoryClass>
   </extension>
   
   <extension 
       point="org.eclipse.jem.util.uiContextSensitiveClass">
       <uiContextSensitiveClass
            context="UI"
            key="rendererFactory"
            className="org.eclipse.wst.common.emfworkbench.internal.emf2xml.sse.EMF2DOMSSERendererFactory">
       </uiContextSensitiveClass>
       <uiContextSensitiveClass
          key="ValidateEditContext"
          className="org.eclipse.wst.common.internal.emfworkbench.validateedit.ValidateEditHeadlessContext"
          context="Headless">
      </uiContextSensitiveClass>
  </extension>
   
   <extension
        id="emfValidationHandler"
        name="emfValidationHandler"
        point="org.eclipse.wst.validation.validationSelectionHandler">
      <validationSelectionHandler
        id="emfValidationHandler"
        handlerClass="org.eclipse.wst.common.internal.emfworkbench.EmfValidationHandler"
        selectionType="org.eclipse.emf.ecore.EObject"/>
   </extension>
   
</plugin>
