<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="editModel" name="%EMF_Resource_Edit_Model" schema="schema/editModel.exsd"/>
   <extension-point id="editModelExtension" name="%Edit_Model_Extensions" schema="schema/editModelExtension.exsd"/>
   <extension-point id="adapterFactory" name="%Adapter_Factory_Extension" schema="schema/adapterFactory.exsd"/>
   <extension-point id="ModifierHelperFactory" name="%ModifierHelperFactory" schema="schema/modifierHelperFactory.exsd"/>

   <extension
         point="org.eclipse.jem.util.internalWorkbenchContextFactory">
      <factoryClass
            name="org.eclipse.wst.common.internal.emfworkbench.edit.EMFWorkbenchEditContextFactory">
      </factoryClass>
   </extension>
   
   <extension
        id="emfValidationHandler"
        name="emfValidationHandler"
        point="org.eclipse.wst.validation.validationSelectionHandler">
      <validationSelectionHandler
        id="emfValidationHandler"
        handlerClass="org.eclipse.wst.common.internal.emfworkbench.EmfValidationHandler"
        selectionType="org.eclipse.emf.ecore.EObject"/>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="org.eclipse.wst.common.internal.emfworkbench.EmfPackagePropertyTester"
      type="org.eclipse.emf.ecore.EObject"
      namespace="org.eclipse.wst.common.emfworkbench.integration"
      properties="emfPackage"
      class="org.eclipse.wst.common.internal.emfworkbench.EmfPackagePropertyTester">
    </propertyTester>
  </extension>
  
  <extension 
       point="org.eclipse.jem.util.uiContextSensitiveClass">
       <uiContextSensitiveClass
          key="ValidateEditContext"
          className="org.eclipse.wst.common.internal.emfworkbench.validateedit.ValidateEditHeadlessContext"
          context="Headless">
      </uiContextSensitiveClass>
  </extension>
  
   
</plugin>
