<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.common.tests.collector"
   name="%org.eclipse.wst.common.tests.collector"
   version="0.7.0">

   <runtime>
      <library name="runtime/collector.jar"/>
   </runtime>
   <requires>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
   </requires>
   <extension-point id="suites" name="%suites" schema="schema/suites.exsd"/>



   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%Test_Collector"
            visible="true"
            id="testCollector">
         <menu
               label="%WTP_Tests"
               path="additions"
               id="org.eclipse.wst.common.tests.collector.testsMenu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="%Open"
               tooltip="%Test_Collector"
               class="org.eclipse.wst.common.tests.collector.TestCollectorActionDelegate"
               menubarPath="org.eclipse.wst.common.tests.collector.testsMenu/group1"
               id="org.eclipse.wst.common.tests.collector.testsAction">
         </action>
      </actionSet>
   </extension>

</plugin>
