<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    <extension-point 
    id="wizard"
    name="Feature Wizard Pages Extension Point"
    schema="schemas/wizard-pages.exsd"/>
    
  <extension
    point="org.eclipse.ui.popupMenus">
    <objectContribution
      adaptable="true"
      objectClass="org.eclipse.core.resources.IProject"
      nameFilter="*"
      id="org.eclipse.wst.common.project.facet.ui.AddRemoveProjectFacetsMenuItem">
      <filter name="nature" value="org.eclipse.wst.common.project.facet.core.nature"/>
      <action
        label="%add.remove.facets"
        class="org.eclipse.wst.common.project.facet.ui.internal.AddRemoveFacetsAction"
        menubarPath="additions"
        enablesFor="+"
        id="org.eclipse.wst.common.project.facet.ui.AddRemoveProjectFacetsMenuAction"/>
    </objectContribution>
  </extension>
  
</plugin>
