<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="packageURIMap" name="PackageURIMap"/>

<!-- Need to register the Ecore specific package mappings -->
   <extension
         point="org.eclipse.wst.common.emf.packageURIMap">
      <map
            uri="http://www.eclipse.org/emf/2002/Ecore"
            prefix="ecore">
      </map>
      <map
            uri="http://www.eclipse.org/emf/2002/Mapping"
            prefix="mapping">
      </map>
<!-- Trick to get Mapping.xmi for MOF5 serialization -->
      <map
            uri="http://www.eclipse.org/emf/2002/Mapping"
            prefix="Mapping">
      </map>
   </extension>
   
      <extension
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            context="Headless"
            key="rendererFactory"
            className="org.eclipse.wst.common.internal.emf.resource.EMF2DOMRendererFactory">
      </uiContextSensitiveClass>
   </extension>

</plugin>
