<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  
<!-- Validation extension points -->
   <extension-point id="validator" name="%Validator" schema="xsds/validatorExtSchema.exsd"/>
   <extension-point id="validatorV2" name="%Extension.validator" schema="xsds/validator.exsd"/>
   <extension-point id="referencialFileValidator" name="%ReferencialFileValidator" schema="xsds/referencialFileExtSchema.exsd"/>
   <extension-point id="validationSelectionHandler" name="%validationSelectionHandler" schema="xsds/validationSelectionHandler.exsd"/>
   <extension-point id="validationHelper" name="validationHelper" schema="xsds/validationHelper.exsd"/>
   <extension-point id="validatorDelegates" name="%ValidatorDelegates" schema="xsds/validatorDelegates.exsd"/>   
   <extension-point id="validatorGroup" name="Validator Group" schema="xsds/validatorgroup.exsd"/>   
   <extension-point id="exclude" name="Validator Exclusions" schema="xsds/exclude.exsd"/>   
   
<!--============================-->
<!-- Validation Contributions   -->
<!--============================-->
   <extension
         id="validationbuilder"
         name="%VALIDATION_BUILDER_NAME"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.wst.validation.internal.operations.ValidationBuilder">
         </run>
      </builder>
   </extension>
<!-- Problem markers must be a subtype of problemmarker to be displayed in the task view -->
   <extension
         id="problemmarker"
         name="%VALIDATION_PROBLEMMARKER_NAME"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="owner">
      </attribute>
      <attribute
            name="validationSeverity">
      </attribute>
      <attribute
            name="targetObject">
      </attribute>
      <attribute
            name="groupName">
      </attribute>
      <attribute
            name="messageId">
      </attribute>
   </extension>
<!-- Don't want to display this marker in the task view -->
   <extension
         id="projectmarker"
         name="%VALIDATION_PROJECTMARKER_NAME"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="enabledValidatorList">
      </attribute>
      <attribute
            name="autoValidate">
      </attribute>
      <attribute
            name="runWhenBuild">
      </attribute>
      <attribute
            name="maxNumMessages">
      </attribute>
      <attribute
            name="overrideGlobalPreferences">
      </attribute>
      <attribute
            name="version">
      </attribute>
   </extension>
<!-- Don't want to display this marker in the task view -->
   <extension
         id="preferencemarker"
         name="%VALIDATION_PREFERENCEMARKER_NAME"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="enabledValidatorList">
      </attribute>
      <attribute
            name="autoValidate">
      </attribute>
      <attribute
            name="runWhenBuild">
      </attribute>
      <attribute
            name="maxNumMessages">
      </attribute>
      <attribute
            name="projectsCanOverride">
      </attribute>
      <attribute
            name="version">
      </attribute>
   </extension>
   <!-- GRK - I added a new problem marker so that we can keep the v2 changes separate from the v1 framework. -->
   <extension
         id="problemmarker2"
         name="%ProblemMarkerV2"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="owner">
      </attribute>
  </extension>

</plugin>
