<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.perfmsr.core"
   name="%Plugin.name"
   version="3.0.0"
   provider-name="Eclipse.org"
   class="org.eclipse.perfmsr.core.PerfMsrCorePlugin">

   <runtime>
      <library name="perfmsr.jar"><export name="*"/></library>
   </runtime>
   
   <requires>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>
</plugin>
