<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="moduleDependencyPropertyPage" name="org.jboss.ide.eclipse.as.wtp.override.moduleDependencyPropertyPage" schema="schema/moduleDependencyPropertyPage.exsd"/>
   <extension-point id="referenceWizardFragment" name="referenceWizardFragment" schema="schema/referenceWizardFragment.exsd"/>
   <!-- =========== org.eclipse.jst.j2ee.internal.J2EEDependencyPage ============ -->
   <extension
   		point="org.eclipse.ui.propertyPages">
 	<page
      		name="%Module_assembly.name"
            class="org.eclipse.wst.common.componentcore.ui.propertypage.ModuleAssemblyRootPage"
            id="org.eclipse.wst.common.componentcore.ui.J2EEDependenciesPage">
           <enabledWhen>
				<adapt
					type="org.eclipse.core.resources.IProject">
					<test
						property="org.eclipse.core.resources.projectNature"
          				value="org.eclipse.wst.common.modulecore.ModuleCoreNature"/>
				</adapt>
         </enabledWhen>          
      </page>
      </extension>


    <extension
          point="org.eclipse.wst.common.modulecore.ui.referenceWizardFragment">
       <referenceFragment
             class="org.eclipse.wst.common.componentcore.ui.propertypage.internal.ProjectReferenceWizardFragment"
             icon="icons/prj_obj.gif"
             id="org.eclipse.wst.common.componentcore.ui.newProjectReference"
             name="Project">
       </referenceFragment>
    </extension>
</plugin>
