<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.validation.ui"
   name="Validation Framework UI"
   description="This is only UI plugin for the validation framework. Some of the main UI functions this plugin provides are global validation references page, project validation properties page and manual run validation menu action."
   version="6.0.0"
   provider-name="IBM"
   class="org.eclipse.wst.validation.internal.ui.plugin.ValidationUIPlugin">

   <runtime>
      <library name="runtime/validateui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.wst.common.navigator.views"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.swt"/>
      <import plugin="org.eclipse.wst.validation.mof" export="true"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.core.runtime.compatibility"/>
      <import plugin="org.eclipse.wst.common.navigator.views"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="com.ibm.wtp.emf.workbench"/>
   </requires>


<!-- ============================================== -->
<!-- Popup Contributions                            -->
<!-- ============================================== -->
<!-- By saying "adaptable=true", this item will appear on both IProject and IJavaProject -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="ValidationMenuAction">
         <action
               label="%VBF_UI_POPUP_RUNVALIDATION"
               class="org.eclipse.wst.validation.internal.ui.ValidationMenuAction"
               menubarPath="additions"
               enablesFor="+"
               id="ValidationAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution  
      		objectClass="org.eclipse.emf.ecore.EObject"
            id="ValidationMenuAction">
         <action
               label="%VBF_UI_POPUP_RUNVALIDATION"
               class="org.eclipse.wst.validation.internal.ui.ValidationMenuAction"
               menubarPath="additions"
               enablesFor="+"
               id="ValidationAction">
         </action>
         <visibility>
            <or>
               <objectClass
                     name="com.ibm.etools.application.Application">
               </objectClass>
               <objectClass
                     name="com.ibm.etools.client.ApplicationClient">
               </objectClass>
               <objectClass
                     name="com.ibm.etools.jca.Connector">
               </objectClass>
               <objectClass
                     name="com.ibm.etools.ejb.EJBJar">
               </objectClass>
               <objectClass
                     name="com.ibm.etools.webapplication.WebApp">
               </objectClass>
            </or>
         </visibility>
      </objectContribution>
   </extension>
<!-- Should be handled by Object Contribution 
   <extension
         point="org.eclipse.wst.common.navigator.internal.views.navigator.navigatorActions">
      <navigatorActions
            priority="15"
            id="org.eclipse.wst.validation.internal.core.Actions">
         <action
               label="%VBF_UI_POPUP_RUNVALIDATION"
               class="org.eclipse.wst.validation.internal.operations.ui.ValidationMenuAction"
               menubarPath="project"
               enablesFor="1"
               id="validateResource">
         </action>
      </navigatorActions>
   </extension>
   -->
<!-- ====================================================== -->
<!--           Validation preference page                   -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%VBF_TITLE_PREFERENCE"
            class="org.eclipse.wst.validation.internal.ui.ValidationPreferencePage"
            id="ValidationPreferencePage">
      </page>
   </extension>
<!-- ====================================================== -->
<!--           Validation properties page                   -->
<!-- ====================================================== -->
<!-- By saying "adaptable=true", this item will appear on both IProject and IJavaProject -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            name="%VBF_TITLE_PROPERTIES"
            class="org.eclipse.wst.validation.internal.ui.ValidationPropertiesPage"
            id="ValidationPropertiesPage">
      </page>
   </extension>

</plugin>
