<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- ============================================== -->
<!-- Popup Contributions                            -->
<!-- ============================================== -->
<!-- By saying "adaptable=true", this item will appear on both IProject and IJavaProject -->
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IResource"
            id="ValidationMenuAction">
         <action
               label="%VBF_UI_POPUP_RUNVALIDATION"
               class="org.eclipse.wst.validation.internal.ui.ValidationMenuAction"
               menubarPath="additions"
               enablesFor="+"
               id="ValidationAction">
         </action>
      </objectContribution>      
   </extension>
  

<!-- ====================================================== -->
<!--           Validation preference page                   -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%VBF_TITLE_PREFERENCE"
            class="org.eclipse.wst.validation.internal.ui.ValidationPreferencePage"
            id="ValidationPreferencePage">
      </page>
   </extension>
   
<!-- ====================================================== -->
<!--           Validation properties page                   -->
<!-- ====================================================== -->
<!-- By saying "adaptable=true", this item will appear on both IProject and IJavaProject -->
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="%VBF_TITLE_PROPERTIES"
            class="org.eclipse.wst.validation.internal.ui.ValidationPropertiesPage"
            id="ValidationPropertiesPage">
      </page>
   </extension>

</plugin>
