<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <!-- 
    **********************************
    * Standard JRE Runtime Component *
    **********************************
  -->
  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image 
      runtime-component-type="standard.jre"
      path="images/standard-jre-component.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="standard.jre"/>
      <factory class="org.eclipse.jst.common.project.facet.ui.internal.StandardJreComponentLabelProvider$Factory"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
  </extension>

  <!-- 
    **************
    * Java Facet *
    ************** 
  -->
         
  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image 
      facet="java" 
      path="images/java-facet.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
    <wizard-pages action="java.install">
      <page class="org.eclipse.jst.common.project.facet.ui.internal.JavaFacetInstallPage"/>
    </wizard-pages>
  </extension>
  
  <extension
    point="org.eclipse.ui.ide.markerResolution">
	<markerResolutionGenerator
      markerType="org.eclipse.jst.common.project.facet.core.javaVersionMismatch"
      class="org.eclipse.jst.common.project.facet.ui.internal.JavaVersionMismatchMarkerResolutions">
    </markerResolutionGenerator>
  </extension>

  <!-- 
    ******************************
    * Library Provider Framework *
    ******************************
  -->
         
  <extension-point 
    id="libraryProviderActionPanels" 
    name="%libraryProviderActionPanelsExtensionPointName" 
    schema="schemas/libraryProviderActionPanels.exsd"/>

  <extension point="org.eclipse.jst.common.project.facet.ui.libraryProviderActionPanels">
    <panel 
      provider="user-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.user.UserLibraryProviderInstallPanel"/>
    <panel
      provider="runtime-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.SimpleMessageLibraryProviderInstallPanel"/>
    <panel
      provider="unknown-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.SimpleMessageLibraryProviderInstallPanel"/>
    <panel 
      provider="legacy-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.SimpleMessageLibraryProviderInstallPanel"/>
    <panel 
      provider="no-op-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.SimpleMessageLibraryProviderInstallPanel"/>
    <panel 
      provider="osgi-bundles-library-provider"
      class="org.eclipse.jst.common.project.facet.ui.libprov.osgi.OsgiBundlesLibraryProviderInstallPanel"/>
  </extension>

</plugin>
