<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.common.frameworks.ui"
   name="WTP UI Plug-in"
   version="1.0.0"
   provider-name=""
   description="This is a holding place for common frameworks UI used by components used in WTP currently it includes the following frameworks: Entendable Wizards, Extendable Actions"
   class="org.eclipse.wst.common.frameworks.internal.ui.WTPUIPlugin">

   <runtime>
      <library name="wtp_ui.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.wst.common.frameworks" export="true"/>
      <import plugin="org.eclipse.core.runtime"/>
   </requires>


   <extension-point id="wtpuiAction" name="WTP UI Action" schema="schema/wtpuiAction.exsd"/>
   <extension-point id="extendedViewer" name="Extended Viewers" schema="schema/extendedViewer.exsd"/>
   <extension-point id="extendableWizard" name="Extendable Wizard" schema="schema/extendableWizard.exsd"/>
   <extension-point id="wizardPageGroup" name="Extendable Wizard Page" schema="schema/extendableWizardPage.exsd"/>
   <extension-point id="DataModelWizardExtension" name="DataModelWizard" schema="schema/DataModelWizardExtension.exsd"/>

   <extension
         id="UITester"
         point="org.eclipse.jem.util.uiTester">
      <uiTester
            className="org.eclipse.wst.common.frameworks.internal.ui.UITesterImpl">
      </uiTester>
   </extension>
   <extension
         id="context.Sensitive.Class.saveHandler"
         name="Save Handler - Headless Context Class"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="saveHandler"
            context="UI"
            className="org.eclipse.wst.common.frameworks.internal.ui.SaveHandlerUI">
      </uiContextSensitiveClass>
   </extension>
   <extension
         id="org.eclipse.wst.common.frameworks.internal.ui.EnablementDetermination"
         name="UI Enablement Determination"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="org.eclipse.wst.common.frameworks.internal.EnablementDetermination"
            context="UI"
            className="org.eclipse.wst.common.frameworks.internal.ui.UIEnablementManager">
      </uiContextSensitiveClass>
   </extension>
   <extension
         point="org.eclipse.wst.common.frameworks.WTPActivityBridgeHelper">
      <WTPActivityBridgeHelper
            class="org.eclipse.wst.common.frameworks.internal.ui.WTPActivityBridgeHelperImpl">
      </WTPActivityBridgeHelper>
   </extension>
   <!--
   <extension
         point="org.eclipse.wst.common.frameworks.internals.OperationExtension">
      <operationExtension
            postOperationClass="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PostPasteActionOperation"
            id="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PasteActionOperation"/>
   </extension>
   -->
   <extension
   		id="PasteActionOperationExtendibleOperation"
         point="org.eclipse.wst.common.frameworks.ExtendableOperation">
      <extendableOperation
            class="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PasteActionOperation"
            id="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PasteActionOperation"/>
   </extension> 
   
<!-- ====================================================== -->
<!--           Flexible Java Project preference page                   -->
<!-- ====================================================== -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%FLEXIBLE_PROJECT_PREFERENCE"
            class="org.eclipse.wst.common.frameworks.internal.ui.FlexibleJavaProjectPreferencePage"
            id="FlexibleJavaProjectPreferencePage">
      </page>
   </extension>
      
   
</plugin>
