<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

     <extension-point id="wtpuiAction" name="%WTP_UI_Action" schema="schema/wtpuiAction.exsd"/>
   <extension-point id="extendedViewer" name="%Extended_Viewers" schema="schema/extendedViewer.exsd"/>
   <extension-point id="extendableWizard" name="%Extendable_Wizard" schema="schema/extendableWizard.exsd"/>
   <extension-point id="wizardPageGroup" name="%Extendable_Wizard_Page" schema="schema/extendableWizardPage.exsd"/>
   <extension-point id="DataModelWizardExtension" name="%DataModelWizard" schema="schema/DataModelWizardExtension.exsd"/>
	 	 
	<extension-point id="MenuEnabler" 
	 name="MenuEnabler"
	 schema="schema/menuEnabler.exsd"/>
	 
   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
          class="org.eclipse.wst.common.frameworks.internal.ui.MenuEnablementPropertyTester"
          id="org.eclipse.wst.common.frameworks.internal.ui.MenuEnablementPropertyTester"
          namespace="org.eclipse.wst.common.frameworks.actions"
          properties="show"
          type="org.eclipse.core.resources.IResource">
    </propertyTester>
  </extension>
  	 
   <extension
         id="UITester"
         point="org.eclipse.wst.common.core.uiTester">
      <uiTester
            className="org.eclipse.wst.common.frameworks.internal.ui.UITesterImpl">
      </uiTester>
   </extension>
   <extension
         id="context.Sensitive.Class.saveHandler"
         name="Save Handler - Headless Context Class"
         point="org.eclipse.wst.common.core.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="saveHandler"
            context="UI"
            className="org.eclipse.wst.common.frameworks.internal.ui.SaveHandlerUI">
      </uiContextSensitiveClass>
   </extension>
   <extension
         id="org.eclipse.wst.common.frameworks.internal.ui.EnablementDetermination"
         name="UI Enablement Determination"
         point="org.eclipse.wst.common.core.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="org.eclipse.wst.common.frameworks.internal.EnablementDetermination"
            context="UI"
            className="org.eclipse.wst.common.frameworks.internal.ui.UIEnablementManager">
      </uiContextSensitiveClass>
   </extension>
   <extension
         point="org.eclipse.wst.common.frameworks.WTPActivityBridgeHelper">
      <WTPActivityBridgeHelper
            class="org.eclipse.wst.common.frameworks.internal.ui.WTPActivityBridgeHelperImpl">
      </WTPActivityBridgeHelper>
   </extension>
   <!--
   <extension
         point="org.eclipse.wst.common.frameworks.internals.OperationExtension">
      <operationExtension
            postOperationClass="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PostPasteActionOperation"
            id="org.eclipse.wst.common.frameworks.internal.operation.extension.ui.PasteActionOperation"/>
   </extension>
   -->
   <extension 
       point="org.eclipse.wst.common.core.uiContextSensitiveClass">
       <uiContextSensitiveClass
          key="ISimpleValidateEditContext"
          className="org.eclipse.wst.common.frameworks.internal.ui.SimpleValidateEditContextUI"
          context="UI"/>
   </extension>
   
</plugin>
