<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension-point id="OperationExtension" name="%OperationExtension" schema="schema/OperationExtension.exsd"/>
   <extension-point id="functionGroup" name="%Function_Extension_Group" schema="schema/functionGroup.exsd"/>
   <extension-point id="WTPActivityBridgeHelper" name="%WTPActivityBridgeHelper" schema="schema/WTPActivityBridgeHelper.exsd"/>
   <extension-point id="DataModelProviderExtension" name="%DataModelProvider" schema="schema/DataModelProviderExtension.exsd"/>
   
   <extension
         id="context.Sensitive.Class.saveHandler"
         name="Save Handler - Headless Context Class"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="saveHandler"
            context="Headless"
            className="org.eclipse.wst.common.frameworks.internal.SaveHandlerHeadless">
      </uiContextSensitiveClass>
   </extension>
   <extension
         id="org.eclipse.wst.common.frameworks.internal.enablement"
         point="org.eclipse.jem.util.uiContextSensitiveClass">
      <uiContextSensitiveClass
            key="org.eclipse.wst.common.frameworks.internal.EnablementDetermination"
            context="Headless"
            className="org.eclipse.wst.common.frameworks.internal.enablement.EnablementManager">
      </uiContextSensitiveClass>
   </extension>
   <extension 
       point="org.eclipse.jem.util.uiContextSensitiveClass">
       <uiContextSensitiveClass
          key="ISimpleValidateEditContext"
          className="org.eclipse.wst.common.frameworks.internal.SimpleValidateEditContextHeadless"
          context="Headless">
      </uiContextSensitiveClass>
  </extension>

</plugin>
