<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.common.modulecore"
   name="Modulecore Plug-in"
   version="1.0.0"
   provider-name=""
   class="org.eclipse.wst.common.componentcore.internal.ModulecorePlugin">

   <runtime>
      <library name="modulecore.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.common.frameworks"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.emf.ecore"/>
      <import plugin="org.eclipse.wst.common.emfworkbench.integration"/>
      <import plugin="org.eclipse.wst.common.emf"/>
      <import plugin="org.eclipse.emf.ecore.xmi"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.core.commands"/>
      <import plugin="org.eclipse.emf.edit"/>
   </requires>

   
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="componentcore.xmi"
            class="org.eclipse.wst.common.componentcore.internal.ComponentcorePackage">
      </package>
   </extension>   
   
   <!--============================-->
   <!-- Module Core Project Nature Contributions-->
   <!--============================-->
   <extension
         id="ModuleCoreNature"
         name="Web Properties"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.wst.common.componentcore.ModuleCoreNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.wst.common.emfworkbench.integration.editModel">
      <editModel
            editModelID="org.eclipse.wst.modulecore.structuralModel"
            factoryClass="org.eclipse.wst.common.componentcore.internal.impl.ModuleStructuralModelFactory">
         <editModelResource
               autoload="false"
               URI=".wtpmodules"/>
      </editModel> 
   </extension>
   <!--============================-->
   <!-- Component Structural Builder Contribution-->
   <!--============================-->
   <extension
         id="ComponentStructuralBuilder"
         name="Component Structural Builder"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.wst.common.componentcore.internal.builder.ComponentStructuralBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="ComponentStructuralBuilderDependencyResolver"
         name="Component Structural Dependency Resolver"
         point="org.eclipse.core.resources.builders">
      <builder>
         <run
               class="org.eclipse.wst.common.componentcore.internal.builder.ComponentStructuralBuilderDependencyResolver">
         </run>
      </builder>
   </extension>
   <!--============================-->
   <!-- Builder Provider registrations-->
   <!--============================-->
   <extension
         point="org.eclipse.wst.common.frameworks.DataModelProviderExtension">
      <DataModelProvider
            class="org.eclipse.wst.common.componentcore.internal.builder.ReferencedComponentBuilderDataModelProvider"
            id="org.eclipse.wst.common.componentcore.internal.builder.ReferencedComponentBuilderDataModelProvider"/>
      <ProviderDefinesType
      		providerType="dependent.builder"
      		providerID="org.eclipse.wst.common.componentcore.internal.builder.ReferencedComponentBuilderDataModelProvider"/>
	</extension>
	
	<extension point="org.eclipse.core.runtime.contentTypes">
 			<file-association
				content-type="org.eclipse.core.runtime.xml"
				file-names=".wtpmodules"/>
	</extension>

	<extension point="org.eclipse.team.core.ignore">
		<ignore
        enabled="true"
        pattern=".deployables"/>
	</extension>
</plugin>
