<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension-point 
    id="facets"
    name="Project Facets Extension Point"
    schema="schemas/facets.exsd"/>

  <extension-point 
    id="runtimes"
    name="Runtimes Extension Point"
    schema="schemas/runtimes.exsd"/>

  <extension-point 
    id="runtimeBridges"
    name="Runtime Bridges Extension Point"
    schema="schemas/runtimeBridges.exsd"/>
  
  <extension
    id="nature"
    point="org.eclipse.core.resources.natures">
    <runtime>
      <run class="org.eclipse.wst.common.project.facet.core.internal.FacetedProjectNature"/>
    </runtime>
  </extension>
  
  <extension
    point="org.eclipse.wst.common.project.facet.core.facets">
    <preset id="my.preset">
      <label>My Preset</label>
      <facet id="jst.web" version="2.4"/>
      <facet id="jst.java" version="5.0"/>
    </preset>
  </extension>

</plugin>
