<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.common.tests.ui"
   name="%Ui_Plug-in"
   version="1.0.0"
   provider-name="%Eclipse"
   class="org.eclipse.wst.common.tests.ui.UiPlugin">

   <runtime>
      <library name="ui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.wst.common.frameworks.ui"/>
      <import plugin="org.eclipse.wst.common.tests"/>
      <import plugin="org.eclipse.wst.common.environment"/>
   </requires>

   <extension
         point="org.eclipse.wst.common.tests.collector.suites">
         <suite
            class="org.eclipse.wst.common.tests.ui.DataModelUIAPITests"
            name="DataModel UI API Tests">
         </suite>
   </extension>
   <extension
         point="org.eclipse.wst.common.frameworks.ui.DataModelWizardExtension">
      <DataModelWizard
            class="org.eclipse.wst.common.tests.ui.TestDataModelWizard"
            id="org.eclipse.wst.common.frameworks.datamodel.tests.ITestDataModel"/>
   </extension>
   <extension
         point="org.eclipse.wst.common.frameworks.ui.wizardPageGroup">
      <wizardPageGroup
            pageGroupID="foo"
            wizardID="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelProvider">
         <factory className="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelWizardFactory"/>
      </wizardPageGroup>
      <wizardPageGroup
            pageGroupID="bar"
            wizardID="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelProvider">
         <factory className="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelWizardFactory2"/>
      </wizardPageGroup>
      <wizardPageGroup
            pageGroupID="foobar"
            wizardID="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelProvider">
         <factory className="org.eclipse.wst.common.tests.ui.wizard.Test2DataModelWizardFactory3"/>
      </wizardPageGroup>
   </extension>
  

</plugin>
