<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	
<!--
 =============================================================================  
 Define Subsection Table of Contents
 ============================================================================= 
--> 
	
	<extension point="org.eclipse.help.toc">
		<toc file="topicsEnv_Reference.xml"/>
		<toc file="envjavadoctoc.xml"/>
		<toc file="topics_ExtPoint_Reference.xml"/>
	</extension>
</plugin>
