<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

    
<!-- Extension point to register ResourceHandlers that will always be added to 
	new WorkbenchContexts -->
   <extension-point id="ResourceHandlerExtension" name="ResourceHandlerExtension"/>
   <extension-point id="globalPluginResourceLoad" name="Global Plugin Resource Load"/>
   <extension-point id="nature_registration" name="EMF Nature registration"/>
   <extension-point id="internalWorkbenchContextFactory" name="Internal Workbench Context Factory"/>
   <extension-point id="uiContextSensitiveClass" name="UI Context Sensitive Class" schema="schema/uiContextSensitiveClass.exsd"/>
   <extension-point id="uiTester" name="UI Tester" schema="schema/uiTester.exsd"/>   
   
</plugin>
