<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension-point id="exampleProjectCreationWizard" name="Example Project Creation Wizard" schema="schema/exampleProjectCreationWizard.exsd"/>
  <extension
	point="org.eclipse.search.searchResultViewPages">
	<viewPage
		id="org.eclipse.wst.common.ui.internal.search.SearchResultPage"
		searchResultClass="org.eclipse.wst.common.ui.internal.search.SearchResult"
		class="org.eclipse.wst.common.ui.internal.search.SearchResultPage">
	</viewPage>
  </extension>
 
</plugin>
