<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.wst.validation.validatorV2"
         id="T3A" name="T3A">
      <validator
            build="false"
            class="org.eclipse.wst.common.tests.validation.guard.T3A"
            manual="false">
      </validator>
   </extension>
    <extension
         point="org.eclipse.wst.validation.validatorV2"
         id="T3B" name="T3B">
      <validator class="org.eclipse.wst.common.tests.validation.guard.T3B">
         <include>
            <rules>
               <facet
                     id="a.bogus.facet">
               </facet>
            </rules>
         </include>
      </validator>
   </extension>

</plugin>
